@font-face {
  font-family: 'Gotham Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro'), url('../../fonts/GothaProLig.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro Medium'), url('../../fonts/GothaProMed.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro Bold'), url('../../fonts/GothaProBol.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro Black'), url('../../fonts/GothaProBla.woff') format('woff');
}

/* Font-family */
:root {
  --bold: 'Gotham Pro Bold';
  --black: 'Gotham Pro Black';
  --light: 'Gotham Pro Light';
  --medium: 'Gotham Pro Medium';
}

/* Font size */
:root {
  --title-1: 4.209em;
  --title-2: 3.157em;
  --title-3: 2.369em;
  --body-1: 1.333em;
  --body-2: 1em;
  --caption: .75em;
}
