<template>
  <Container>
    <template v-slot:body>
      <div v-html="html"></div>
    </template>
  </Container>
</template>

<script>
import Container from '~/components/Container'

export default {
  components: {
    Container
  },
  async asyncData({ app, params, redirect }) {
    try {
      const content = await import(
        `@content/${app.i18n.locale}/flat/${params.slug}.md`
      )
      const { html } = content
      return { html }
    } catch (_) {
      redirect(app.localePath({ name: 'index' }))
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  /deep/ {
    .head {
      margin: 0;
    }
  }
}
</style>
