<template>
  <Container>
    <template v-slot:head>
      <h1 class="head__title">
        {{ $t('Our team works non-stop, even in holidays. So you can contact us anytime.') }}
      </h1>
    </template>
    <template v-slot:body>
      <div class="contacts">
        <p class="contacts__text">
          {{ $t('For any question') }}
          <a class="contacts__link" :href="mailTo(email.info)">{{ email.info }}</a>
        </p>
        <p class="contacts__text">
          {{ $t('For work opportunities') }}
          <a class="contacts__link" :href="mailTo(email.jobs)">{{ email.jobs }}</a>
        </p>
      </div>
      <SocialMedia/>
    </template>
  </Container>
</template>

<i18n>
{
  "ru": {
    "For any question": "По любым вопросам",
    "For work opportunities": "По открытым вакансиям",
    "Our team works non-stop, even in holidays. So you can contact us anytime.": "Мы работает нон-стоп, свяжитесь с нами и мы ответим как можно скорее"
  }
}
</i18n>

<script>
import app from '@content/app'
import Container from '~/components/Container'
import SocialMedia from '~/components/SocialMedia'

export default {
  components: {
    Container,
    SocialMedia
  },
  data() {
    return {
      ...app.info
    }
  },
  methods: {
    mailTo(email) {
      return `mailto:${email}`
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /deep/ {
    .head,
    .body {
      flex: 1;
    }

    .body {
      display: flex;
      margin-top: 0;
      flex-direction: column;
    }
  }

  .contacts__text,
  .contacts__link,
  .social-media {
    color: var(--primary);
  }

  .contacts__link,
  /deep/ .social-media__item {
    &:hover {
      color: var(--tertiary);
    }
  }

  .contacts {
    &__text {
      margin: 0;
      font-size: var(--body-1);
      font-family: var(--light);

      &:not(:first-child) {
        margin-top: 12px;
      }
    }

    &__link {
      font-family: var(--medium);
      text-decoration: underline;
    }
  }

  .social-media {
    margin-top: auto;
  }

  @include desktop {
    /deep/ {
      .body {
        padding-left: 128px;
      }
    }
  }

  @include touch {
    .contacts,
    .social-media {
      padding-top: 32px;
    }
  }
}
</style>
