<template>
  <Container>
    <template v-slot:head>
      <h1 class="head__title" v-html="$t('head-title')"></h1>
      <p class="head__excerpt">
        {{ $t('A tiny studio focused on shipping web and mobile apps that users love.') }}
        {{ $t('We help startups and enterprises invent, develop and launch their next amazing project.') }}
      </p>
    </template>
    <template v-slot:body>
      <h2 class="body__title">{{ $t('Check out our work') }}</h2>
      <ProjectsList :projects="projects"/>
    </template>
  </Container>
</template>

<i18n>
{
  "en": {
    "head-title": "We build <br/> bright and clean <br/> digital products."
  },
  "ru": {
    "head-title": "Мы делаем <br/> яркие и чистые <br/> цифровые продукты.",
    "Check out our work": "Наши работы",
    "A tiny studio focused on shipping web and mobile apps that users love.": "Содружество специалистов в области веб и мобильной разработки 🦄",
    "We help startups and enterprises invent, develop and launch their next amazing project.": "Мы помогаем компаниям создать их следующий потрясающий проект."
  }
}
</i18n>

<script>
import Container from '~/components/Container'
import ProjectsList from '~/components/ProjectsList'

export default {
  components: {
    Container,
    ProjectsList
  },
  async asyncData({ app }) {
    let resolve;
    if (app.i18n.locale === 'en') {
      resolve = require.context('@content/en/portfolio/', true, /\.md$/);
    } else if (app.i18n.locale === 'ru') {
      resolve = require.context('@content/ru/portfolio/', true, /\.md$/);
    }
    const projects = resolve.keys().map(key => {
      const [, name] = key.match(/\/(.+)\.md$/);
      return resolve(key);
    });
    return { projects };
  }
}
</script>

<style lang="scss" scoped>
.container {
  /deep/ .projects-list {
    .project-card{
      margin-top: 64px;
    }
  }
}
</style>
