<template>
  <nuxt-link class="brand" :to="localePath({ name: 'index' })">
    <Logo/>
  </nuxt-link>
</template>

<script>
import Logo from '~/components/icons/Logo'

export default {
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
.brand {
  color: var(--primary);
}
</style>
