<template>
  <button :class="['burger', { initialized, open }]" @click="handleClick">
    <span class="burger__part"></span>
    <span class="burger__part"></span>
    <span class="burger__part"></span>
  </button>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    onClick: {
      type: Function,
      default: new Function()
    }
  },
  data() {
    return {
      initialized: false
    };
  },
  methods: {
    handleClick() {
      this.initialized = true;
      this.onClick();
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes open_top {
  50% { transform: translate3d(0, 11px, 0); }
  100% { transform: translate3d(0, 11px, 0) rotate(45deg); }
}

@keyframes open_bot {
  50% { transform: translate3d(0, -11px, 0); }
  100% { transform: translate3d(0, -11px, 0) rotate(-45deg); }
}

@keyframes close_top {
  0% { transform: translate3d(0, 11px, 0) rotate(45deg); }
  50% { transform: translate3d(0, 11px, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes close_bot {
  0% { transform: translate3d(0, -11px, 0) rotate(-45deg); }
  50% { transform: translate3d(0, -11px, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0); }
}

.burger {
  height: 25px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
  background: transparent;
  margin-left: auto;

  &,
  &__part,
  &__part:before {
    width: 25px;
  }

  &__part {
    &,
    &:before {
      display: block;
      position: absolute;
      border-top: 3px solid var(--primary);
    }

    &:before {
      content: "";
      opacity: 0;
      top: -3px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      transform-origin: 50% 50%;
      animation-duration: 250ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }

    &:nth-child(1) { top: 0; }
    &:nth-child(3) { top: 22px; }
    &:nth-child(2) {
      top: 11px;
      opacity: 1;
      transition:
        transform 250ms ease-out,
        opacity 150ms linear;
    }
  }

  &.initialized {
    .burger__part {
      &:nth-child(1) { animation-name: close_top; }
      &:nth-child(3) { animation-name: close_bot; }
    }

    &.open {
      .burger__part {
        &:nth-child(1) { animation-name: open_top; }
        &:nth-child(3) { animation-name: open_bot; }
        &:nth-child(2) { opacity: 0; }
      }
    }
  }
}
</style>
