<template>
  <div :class="['container', { fullscreen }]">
    <div class="head">
      <slot name="head"/>
    </div>
    <div class="body">
      <slot name="body"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fullscreen: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  &.fullscreen {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .body__title,
  .head__title,
  .head__excerpt {
    color: var(--primary);
  }

  .head {
    &__title,
    &__excerpt {
      max-width: 800px;
    }

    &__title {
      font-size: var(--title-1);
      font-family: var(--black);
    }

    &__excerpt {
      font-size: var(--body-1);
      font-family: var(--light);
    }
  }

  .body {
    &__title {
      font-size: var(--title-3);
      font-family: var(--medium);
    }
  }

  @include desktop {
    padding: 42px;

    .head {
      margin-top: 164px;
    }

    .body {
      margin-top: 90px;
    }

    .body__title,
    .head__title,
    .head__excerpt {
      margin-left: 128px;
    }
  }

  @include touch {
    padding: 85px 20px 20px;

    .head,
    .body {
      margin-top: 32px;
    }
  }
}
</style>
