<template>
  <div :class="['lang-switch', { open, horizontal }]" @click="toggleOpenState">
    <div class="lang-switch__current">{{ $t($i18n.locale) }}</div>
    <div class="lang-switch__options">
      <template v-for="(locale, idx) in $i18n.availableLocales.filter(i => i !== $i18n.locale)">
        <nuxt-link class="lang-switch__option" :key="idx" :to="switchLocalePath(locale)">
          {{ $t(locale) }}
        </nuxt-link>
      </template>
    </div>
  </div>
</template>

<i18n>
{
  "en": {
    "en": "ENG",
    "ru": "РУС",
    "ge": "GEO"
  },
  "ru": {
    "en": "ENG",
    "ru": "РУС",
    "ge": "GEO"
  }
}
</i18n>

<script>
export default {
  props: {
    horizontal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      open: false
    }
  },
  methods: {
    toggleOpenState() {
      this.open = !this.open
    }
  }
}
</script>

<style lang="scss" scoped>
.lang-switch {
  position: relative;

  &__current,
  &__option {
    cursor: pointer;
    color: var(--primary);
    font-size: var(--body-2);
    font-family: var(--medium);
  }

  &__current,
  &__options {
    transition: all 400ms ease;
  }

  &__options {
    opacity: 0;
    pointer-events: none;
  }

  &.open {
    .lang-switch {
      &__options {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &:not(.horizontal) {
    .lang-switch {
      &__options {
        bottom: 48px;
        position: absolute;
      }
    }

    &.open {
      .lang-switch {
        &__current {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &.horizontal {
    display: inline-flex !important;

    .lang-switch {
      &__options {
        margin-left: 24px;
      }
    }

    &.open {
      .lang-switch {
        &__current {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
</style>
