<template>
  <div :class="['navbar', { open }]">
    <div class="navbar__head">
      <Brand/>
      <Burger
        :open="open"
        :onClick="toggleOpenState"/>
    </div>
    <div class="navbar__body">
      <div class="navbar__block">
        <Navigation/>
      </div>
      <div class="navbar__block">
        <SocialMedia/>
        <div class="navbar__wrapper">
          <LangSwitch horizontal/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Brand from '~/components/Brand'
import Burger from '~/components/Burger'
import Navigation from '~/components/Navigation'
import LangSwitch from '~/components/LangSwitch'
import SocialMedia from '~/components/SocialMedia'

export default {
  components: {
    Brand,
    Burger,
    Navigation,
    LangSwitch,
    SocialMedia
  },
  data() {
    return {
      open: false
    }
  },
  methods: {
    toggleOpenState() {
      this.open = !this.open;
    }
  },
  mounted() {
    const menu = Array.from(this.$el.querySelectorAll('.navigation__item'))
    const lang = Array.from(this.$el.querySelectorAll('.lang-switch__option'))
    menu.concat(lang).forEach(item => item.addEventListener('click', this.toggleOpenState))
  },
  destroyed() {
    const menu = Array.from(this.$el.querySelectorAll('.navigation__item'))
    const lang = Array.from(this.$el.querySelectorAll('.lang-switch__option'))
    menu.concat(lang).forEach(item => item.removeEventListener('click', this.toggleOpenState))
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  position: fixed;

  /deep/ .brand {
    svg {
      width: 25px;
      height: 25px;
    }
  }

  &,
  &__body {
    top: 0;
    left: 0;
    width: 100%;
    color: var(--primary);
    background: var(--secondary);
  }

  &__head,
  &__block {
    display: flex;
  }

  &__head {
    padding: 15px 20px;
    align-items: center;
  }

  &__body {
    display: none;
  }

  &__block {
    flex: 1;
    flex-direction: column;
  }

  &__body {
    height: calc(100vh - 60px);
    padding: 42px 20px;

    @media (orientation: portrait) {
      flex-direction: column;

      .social-media,
      .lang-switch {
        padding: 32px 0;
      }

      .social-media {
        margin-top: auto;
      }
    }

    @media (orientation: landscape) {
      .navbar__wrapper {
        margin-top: auto;
        padding-bottom: 24px;
      }
    }
  }

  &.open {
    .navbar {
      &__body {
        display: flex;
      }
    }
  }
}
</style>
