<template>
  <nav class="navigation">
    <template v-for="({ name, path }, idx) in scheme">
      <nuxt-link class="navigation__item" :key="idx" :to="localePath(path)">
        {{ $t(name) }}
      </nuxt-link>
    </template>
  </nav>
</template>

<i18n>
{
  "ru": {
    "Home": "Главная",
    "Contact": "Контакты",
    "Portfolio": "Портфолио"
  }
}
</i18n>

<script>
export default {
  data() {
    return {
      scheme: [
        {
          name: 'Home',
          path: {
            name: 'index'
          }
        },
        {
          name: 'Portfolio',
          path: {
            name: 'portfolio'
          }
        },
        {
          name: 'Contact',
          path: {
            name: 'contact'
          }
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  display: flex;
  flex-direction: column;

  &,
  &__item {
    color: inherit;
  }

  &__item {
    font-size: var(--title-1);
    font-family: var(--black);

    &:hover {
      color: var(--tertiary);
    }
  }
}
</style>
