<template>
  <div class="projects-list">
    <template v-if="projects.length > 0">
      <template v-for="({ attributes }, idx) in projects">
        <ProjectCard :key="idx" :content="attributes"/>
      </template>
    </template>
    <template v-else>
      <h3 class="projects-list__empty">
        {{ $t('There are no projects to show') }}. <br/>
        {{ $t('We will fix it soon, stay tuned.') }}
      </h3>
    </template>
  </div>
</template>

<i18n>
{
  "ru": {
    "There are no projects to show": "Сейчас здесь нет наших работ",
    "We will fix it soon, stay tuned.": "Мы скоро это исправим, оставайтесь с нами"
  }
}
</i18n>

<script>
import ProjectCard from '~/components/ProjectCard'

export default {
  components: {
    ProjectCard
  },
  props: {
    projects: {
      type: Array,
      default: []
    }
  }
}
</script>

<style lang="scss" scoped>
.projects-list {
  &__empty {
    color: var(--primary);
    font-size: var(--body-1);
    font-family: var(--light);
    margin-top: 64px;
    text-align: center;
  }
}
</style>
