<template>
  <nuxt-link class="project-card" :to="localePath(projectPath)">
    <div class="project-card__cover" :style="coverStyles"></div>
    <div class="project-card__body">
      <div class="project-card__wrapper" :style="wrapperStyles">
        <h3 class="project-card__company">{{ content.company }}</h3>
        <h2 class="project-card__title">{{ content.title }}</h2>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  computed: {
    projectPath() {
      const { slug } = this.content
      return {
        name: 'portfolio-slug',
        params: { slug }
      }
    },
    coverStyles() {
      const { cover } = this.content
      return {
        'background-image': `url(/images/${cover}`
      }
    },
    wrapperStyles() {
      const { fg: color, bg: background } = this.content.ui.preview
      return { color, background }
    }
  }
}
</script>

<style lang="scss" scoped>
.project-card {
  display: block;
  position: relative;
  min-height: 100vh;

  &__body,
  &__cover {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__cover {
    background-size: cover;
    background-position: 50%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .project-card {
      &__title,
      &__company {
        color: inherit;
        margin: 0;
      }

      &__title {
        font-size: var(--title-2);
        font-family: var(--bold);
      }

      &__company {
        font-size: var(--body-1);
        font-family: var(--medium);
        margin-bottom: 32px;
      }
    }
  }

  @include desktop {
    .project-card {
      &__wrapper {
        padding: 16px;
        max-width: 520px;
      }

      &__body {
        padding-left: 84px;
      }
    }
  }

  @include touch {
    .project-card {
      &__wrapper {
        margin: 20px;
        padding: 20px;
      }
    }
  }
}
</style>
