<template>
  <div :class="['sidebar', { open }]">
    <div class="sidebar__head">
      <Brand/>
      <Burger
        :open="open"
        :onClick="toggleOpenState"/>
      <LangSwitch/>
    </div>
    <div class="sidebar__body">
      <Navigation/>
      <SocialMedia/>
    </div>
  </div>
</template>

<script>
import Brand from '~/components/Brand'
import Burger from '~/components/Burger'
import Navigation from '~/components/Navigation'
import LangSwitch from '~/components/LangSwitch'
import SocialMedia from '~/components/SocialMedia'

export default {
  components: {
    Brand,
    Burger,
    Navigation,
    LangSwitch,
    SocialMedia
  },
  data() {
    return {
      open: false
    }
  },
  methods: {
    toggleOpenState() {
      this.open = !this.open
    },
  },
  mounted() {
    this.$el.querySelectorAll('.navigation__item').forEach(item => {
      item.addEventListener('click', this.toggleOpenState)
    })
  },
  destroyed() {
    this.$el.querySelectorAll('.navigation__item').forEach(item => {
      item.removeEventListener('click', this.toggleOpenState)
    })
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background: var(--secondary);
  transition: left 900ms cubic-bezier(0.215, 0.610, 0.355, 1);

  &,
  &__head,
  &__body {
    height: 100%;
  }

  &__head,
  &__body {
    padding: 42px;
    display: flex;
    flex-direction: column;
  }

  &__head {
    align-items: center;

    &:before {
      content: "";
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      width: 3px;
      height: 100%;
      background: var(--primary);
    }

    .burger {
      margin: auto 0;
    }
  }

  &__body {
    top: 0;
    color: var(--secondary);
    right: calc(42px * 3);
    width: calc(100vw - 42px * 3);
    position: absolute;
    background: var(--primary);

    /deep/ .navigation {
      &__item {
        font-size: var(--title-1);
        font-family: var(--black);
      }
    }

    .social-media {
      margin-top: auto;
    }
  }

  &.open {
    left: calc(100vw - 42px * 3);
  }
}
</style>
