<template>
  <div class="social-media">
    <p class="social-media__title">{{ $t('We also available here') }}</p>
    <div class="socila-media__refs">
      <template v-for="(key, idx) in Object.keys(socailMedia)">
        <a class="social-media__item" :href="socailMedia[key]" target="blank" :key="idx">
          <component :is="key"/>
        </a>
      </template>
    </div>
  </div>
</template>

<i18n>
{
  "ru": {
    "We also available here": "Мы в социальных сетях"
  }
}
</i18n>

<script>
import app from '@content/app'
import Github from '~/components/icons/Github'
import Behance from '~/components/icons/Behance'
import Dribbble from '~/components/icons/Dribbble'
import Facebook from '~/components/icons/Facebook'
import Instagram from '~/components/icons/Instagram'

export default {
  components: {
    Github,
    Behance,
    Dribbble,
    Facebook,
    Instagram
  },
  data() {
    const socailMedia = app.social_media;
    return {
      socailMedia
    }
  },
  methods: {
    toTitleCase(string) {
      return string.split('')
        .map((v,i) => i === 0 ? v.toUpperCase() : v)
        .join('')
    }
  }
}
</script>

<style lang="scss" scoped>
.social-media {
  &__title,
  &__refs,
  &__item {
    color: inherit;
  }

  &__title {
    font-size: var(--body-2);
    font-family: var(--light);
    margin-bottom: 12px;
  }

  &__item {
    margin-right: 12px;
  }
}
</style>
