.draw-text-block {
  @keyframes draw_a {
    50% {
      transform: scaleX(1);
    }
  }

  @keyframes draw_b {
    to {
      opacity: 0;
    }
  }

  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:after {
    animation: 900ms forwards ease draw_a;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--primary);
  }

  &:before {
    opacity: 1;
    animation: 450ms 450ms forwards ease draw_b;
    background-color: var(--secondary);
  }
}

@keyframes draw_edge {
  to {
    height: 100%;
  }
}

@keyframes draw_lang {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes draw_brand {
  to {
    transform: scale(1);
  }
}

@keyframes draw_toggle_shadow {
  to {
    transform: scaleX(0);
  }
}
