<template>
  <BaseIcon :width="width" :height="height" :view-box="viewBox">
    <circle cx="21" cy="21" r="21" />
  </BaseIcon>
</template>

<script>
import BaseIcon from '~/components/icons/BaseIcon'

export default {
  extends: BaseIcon,
  components: {
    BaseIcon,
  },
  props: {
    width: {
      type: Number,
      default: 42,
    },
    height: {
      type: Number,
      default: 42,
    },
    viewBox: {
      type: String,
      default: '0 0 42 42',
    },
  },
}
</script>
