<template>
  <div class="layout">
    <Navbar/>
    <Sidebar/>
    <main class="content">
      <nuxt/>
    </main>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import Sidebar from '~/components/Sidebar'

export default {
  components: {
    Navbar,
    Sidebar
  }
}
</script>

<style lang="scss">
@include desktop {
  html {
    font-size: 16px;
  }
}

@include touch {
  html {
    font-size: 12px;
  }
}
</style>

<style lang="scss" scoped>
.layout {
  @include desktop {
    .navbar {
      display: none;
    }

    .content {
      width: calc(100% - 42px * 3);
      margin-left: auto;
    }
  }

  @include touch {
    .sidebar {
      display: none;
    }
  }
}
</style>
