<template>
  <Container fullscreen>
    <template v-slot:body>
      <div class="project">
        <div class="header block">
          <div class="header__cover" :style="coverStyles"></div>
          <div class="header__body">
            <div class="header__wrapper" :style="wrapperStyles">
              <h1 class="header__title">{{ attributes.title }}</h1>
            </div>
          </div>
        </div>
        <div class="overview block">
          <div class="block__half" :style="getBlockStyles(attributes.ui.overview.block_l)">
            <h2 class="block__title">{{ attributes.excerpt }}</h2>
          </div>
          <div class="block__half" :style="getBlockStyles(attributes.ui.overview.block_r)">
            <ul class="attributes">
              <li class="attribute">
                <h3 class="attribute__title">{{ $t('Challenge') }}</h3>
                <p class="attribute__text">{{ attributes.challenge }}</p>
              </li>
              <li class="attribute">
                <h3 class="attribute__title">{{ $t('Timeline') }}</h3>
                <p class="attribute__text">
                  {{ formatTimestamp(attributes.timeline.start) }} -
                  <template v-if="attributes.timeline.finish">
                    {{ formatTimestamp(attributes.timeline.finish) }}
                  </template>
                  <template v-else>
                    {{ $t('In progress') }}
                  </template>
                </p>
              </li>
              <li class="attribute">
                <h3 class="attribute__title">{{ $t('Visit site') }}</h3>
                <a class="attribute__link" target="blank" :href="attributes.site">
                  {{ attributes.site }}
                </a>
              </li>
              <li class="attribute">
                <h3 class="attribute__title">{{ $t('Awards') }}</h3>
                <template v-if="attributes.awards.length > 0">
                  <ul class="attribute__list">
                    <template v-for="(label, idx) in attributes.awards">
                      <li class="attribute__item" :key="idx">{{ label }}</li>
                    </template>
                  </ul>
                </template>
                <template v-else>
                  <p class="attribute__text">{{ $t('Coming soon') }}</p>
                </template>
              </li>
            </ul>
          </div>
        </div>
        <div v-html="html"></div>
      </div>
    </template>
  </Container>
</template>

<i18n>
{
  "ru": {
    "Awards": "Награды",
    "Timeline": "Даты",
    "Challenge": "Задача",
    "Visit site": "Сайт",
    "Coming soon": "Ожидаются",
    "In progress": "В процессе"
  }
}
</i18n>

<script>
import Container from '~/components/Container'

export default {
  components: {
    Container
  },
  async asyncData({ app, params, redirect }) {
    try {
      const content = await import(
        `@content/${app.i18n.locale}/portfolio/${params.slug}.md`
      )
      const { attributes, html } = content
      return { attributes, html }
    } catch (_) {
      redirect(app.localePath({ name: 'index' }))
    }
  },
  computed: {
    wrapperStyles() {
      const { fg: color, bg: background } = this.attributes.ui.preview
      return { color, background }
    },
    coverStyles() {
      const { cover } = this.attributes
      return {
        'background-image': `url(/images/${cover})`
      }
    }
  },
  methods: {
    formatTimestamp(timestamp) {
      return new Date(timestamp).toLocaleDateString()
    },
    getBlockStyles(block) {
      const { fg: color, bg: background } = block
      return { color, background }
    }
  }
}
</script>

<style lang="scss">
.container {
  .block {
    margin: 0;

    &,
    &__half {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: 50% 50%;
    }

    &__half {
      flex: 1;
      padding: 42px;
    }

    &__title {
      text-align: center;
      font-family: var(--light);
    }

    @include desktop {
      &__title {
        font-size: var(--title-3);
      }
    }

    @include touch {
      & {
        flex-direction: column;
      }

      &__half {
        width: 100%;
      }

      &__title {
        font-size: var(--body-1);
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.container {
  /deep/ {
    .head,
    .body {
      margin: 0;
    }
  }

  .project {
    .header {
      position: relative;

      &__cover,
      &__body {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      &__cover {
        background-size: cover;
        background-position: 50% 50%;
      }

      &__wrapper {
        display: inline-flex;
        padding: 16px;
        align-items: center;
        justify-content: center;
      }

      &__title {
        color: inherit;
        margin: 0;
        font-size: var(--title-1);
        font-family: var(--black);
      }

      @include desktop {
        &__wrapper {
          margin-top: 164px;
          margin-left: 128px;
        }

        &__title {
          max-width: 480px;
        }
      }

      @include touch {
        &__body {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__title {
          font-size: var(--title-2);
          text-align: center;
        }
      }
    }

    .attributes {
      max-width: 620px;

      &,
      .attribute__list {
        margin: 0;
        list-style: none;
      }

      .attribute {
        margin-bottom: 42px;

        &__text,
        &__link,
        &__item {
          color: var(--primary);
          font-size: var(--body-2);
          font-family: var(--light);
        }

        &__title {
          font-size: var(--body-1);
          font-family: var(--bold);
        }

        &__link {
          text-decoration: underline;
        }

        &__item {
          &:before {
            content: "+";
            margin-right: 4px;
          }
        }
      }
    }
  }
}
</style>
