<template>
  <Container>
    <template v-slot:head>
      <h1 class="head__title">{{ $t('Our work') }}</h1>
    </template>
    <template v-slot:body>
      <ProjectsList :projects="projects"/>
    </template>
  </Container>
</template>

<i18n>
{
  "ru": {
    "Our work": "Наши работы"
  }
}
</i18n>

<script>
import Container from '~/components/Container'
import ProjectsList from '~/components/ProjectsList'

export default {
  components: {
    Container,
    ProjectsList
  },
  async asyncData({ app }) {
    let resolve;
    if (app.i18n.locale === 'en') {
      resolve = require.context('@content/en/portfolio/', true, /\.md$/);
    } else if (app.i18n.locale === 'ru') {
      resolve = require.context('@content/ru/portfolio/', true, /\.md$/);
    }
    const projects = resolve.keys().map(key => {
      const [, name] = key.match(/\/(.+)\.md$/);
      return resolve(key);
    });
    return { projects };
  }
}
</script>

<style lang="scss" scoped>
.container {
  /deep/ .projects-list {
    .project-card{
      margin-top: 64px;
    }
  }
}
</style>
